.burger_constructor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  color: var(--text-primary-color);
}

.burger_constructor_hover {
  border-radius: 8px;
  box-shadow: rgb(255 255 255 / 50%) 0 0 6px 2px;
}

.burger_constructor_list {
  height: calc(100% - 880px);
  overflow: auto;
}

.burger_constructor_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
